.container {
  display: flex;
  flex-direction: column;
  margin: 24px 0 24px 0;
}
.imgContainer img {
  border-radius: 12px;
  width: 272px;
  height: 241px;
  margin-bottom: 24px;
}

.container span {
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  width: 270px;
  height: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container p {
  width: 270px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
  text-overflow: ellipsis;
}

.container button {
  color: black !important;
  width: 154px;
  height: 44px;
  padding: 24px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.container button:hover {
  text-shadow: 1px 0px 0px #666666;
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.container button:active {
  transform: translateY(1px);
}
