.pagination {
  display: flex;
  justify-content: space-between;
  width: 275px;
  font-size: 14px;
  line-height: 16px;
  margin: 57px 0 67px;
}

.pagination button {
  background: none;
  color: #fff;
  border: none;
}

.pagination span {
  cursor: pointer;
}
