.pagination {
  display: flex;
  justify-content: space-between;
  width: 275px;
  font-size: 14px;
  line-height: 16px;
  margin: 57px 0 67px;
  padding-bottom: 120px;
}

.pagination button {
  background: none;
  cursor: pointer;
  border: none;
  color: inherit;
}

.pagination span {
  cursor: pointer;
}
