.container {
  margin: 33px 0 45px;
  width: 338px;
  height: 62px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 24px;
}
.container input {
  width: 160px;
  margin-left: 24px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}

.container button {
  color: black !important;
  background-color: #d6f379;
  width: 150px;
  height: 46px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #d6f379;
}

.container button:hover {
  text-shadow: 1px 0px 0px #666666;
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.container button:active {
  transform: translateY(1px);
}
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
button[disabled]:hover {
  transform: none;
  box-shadow: none;
  text-shadow: none;
}

@media all and (min-width: 768px) {
  .container {
    width: 614px;
  }
  .container form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
}
